[Desktop Entry]
Name=GtkSee
Comment=Image Viewer
Comment[es]=Utilitario para visualización de imágenes
Comment[pl]=Przeglądarka obrazków
Comment[pt]=Utilitário para visualização de imagens
Comment[pt_BR]=Utilitário para visualização de imagens
Exec=gtksee
Icon=gtksee.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=GTK;Graphics;Viewer;
# vi: encoding=utf-8
